<div class="sideMenu"> 
 <div class="sideMenuPart" id="app-nav-submenu" pageid="app::////PointingToDeclaration//1711373860"> 
  <div class="overview">
   <span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="../app/index.html"><span><span>app</span></span></a>
  </div> 
  <div class="sideMenuPart" id="app-nav-submenu-0" pageid="app::com.quanticheart.cicdtest////PointingToDeclaration//1711373860"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-0&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="../app/com.quanticheart.cicdtest/index.html"><span>com.</span><wbr><span>quanticheart.</span><wbr><span>cicdtest</span></a>
   </div> 
   <div class="sideMenuPart" id="app-nav-submenu-0-0" pageid="app::com.quanticheart.cicdtest/MainActivity///PointingToDeclaration//1711373860"> 
    <div class="overview">
     <a href="../app/com.quanticheart.cicdtest/-main-activity/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Main</span><wbr><span><span>Activity</span></span></span></span></a>
    </div> 
   </div> 
  </div> 
 </div>  
 <div class="sideMenuPart" id="core-nav-submenu" pageid="core::////PointingToDeclaration//-27209644"> 
  <div class="overview">
   <span class="navButton" onclick="document.getElementById(&quot;core-nav-submenu&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="../core/index.html"><span><span>core</span></span></a>
  </div> 
  <div class="sideMenuPart" id="core-nav-submenu-0" pageid="core::com.quanticheart.core////PointingToDeclaration//-27209644"> 
   <div class="overview">
    <span class="navButton" onclick="document.getElementById(&quot;core-nav-submenu-0&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="../core/com.quanticheart.core/index.html"><span>com.</span><wbr><span>quanticheart.</span><wbr><span>core</span></a>
   </div> 
   <div class="sideMenuPart" id="core-nav-submenu-0-0" pageid="core::com.quanticheart.core//hello/android.app.Activity#/PointingToDeclaration//-27209644"> 
    <div class="overview">
     <a href="../core/com.quanticheart.core/hello.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon function"></span><span class="nav-link-child"><span><span>hello()</span></span></span></span></a>
    </div> 
   </div> 
  </div> 
 </div> 
</div>
